.modalContainer {
  position: absolute !important;
  bottom: 0 !important;
  width: 100vw !important;
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  transform: none !important;
  max-width: none !important;
  min-height: 70%;
}
